<html>
<head>
  <title>HLS Endless GUI</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>var initialState = {{on}};</script>
  <script src="/js/main.js"></script>
</head>

<body>
  <div>
    <img id="loader" src="/images/loading_transparent.gif">
    <button id="control" type="button" class="btn">Click to <span id="action"></span> Live Stream</button>
    <input id="url" type='text' />
  </div>
</body>

</html>